/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
Custom Font
*********************/
@import url("//hello.myfonts.net/count/374950");
@font-face {font-family: 'AvenirLTStd-Light';src: url('../webfonts/374950_0_0.eot');src: url('../webfonts/374950_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/374950_0_0.woff2') format('woff2'),url('../webfonts/374950_0_0.woff') format('woff'),url('../webfonts/374950_0_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Book';src: url('../webfonts/374950_2_0.eot');src: url('../webfonts/374950_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/374950_2_0.woff2') format('woff2'),url('../webfonts/374950_2_0.woff') format('woff'),url('../webfonts/374950_2_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTPro-Roman';src: url('../webfonts/374950_4_0.eot');src: url('../webfonts/374950_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/374950_4_0.woff2') format('woff2'),url('../webfonts/374950_4_0.woff') format('woff'),url('../webfonts/374950_4_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Medium';src: url('../webfonts/374950_6_0.eot');src: url('../webfonts/374950_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/374950_6_0.woff2') format('woff2'),url('../webfonts/374950_6_0.woff') format('woff'),url('../webfonts/374950_6_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('../webfonts/374950_8_0.eot');src: url('../webfonts/374950_8_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/374950_8_0.woff2') format('woff2'),url('../webfonts/374950_8_0.woff') format('woff'),url('../webfonts/374950_8_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Black';src: url('../webfonts/374950_A_0.eot');src: url('../webfonts/374950_A_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/374950_A_0.woff2') format('woff2'),url('../webfonts/374950_A_0.woff') format('woff'),url('../webfonts/374950_A_0.ttf') format('truetype');}
/*********************
GENERAL STYLES
*********************/
p,li,div,span{
  color: #636466;
  font-family: 'AvenirLTPro-Roman';
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.3em;
}

h1{
  font-family: 'AvenirLTStd-Light';
}

h2,h3{
  font-family: 'AvenirLTStd-Heavy';
}

h4,h5,h6{
  font-family: 'AvenirLTStd-Black';
}

.white{
  color: #FFF;
}

.blue{
  color: #1a598c;
}

.yellow-underline{
  width: 120px;
  border-bottom: 3px solid #e09e10;
}

.yellow-underline.left{
  margin: 20px 0 30px;
}

.yellow-underline.center{
  margin: 20px auto 30px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.subhead{
  margin-bottom: 30px;
}

.btn-yellow{
  padding: 1rem 1.6rem .9rem;
  text-transform: uppercase;
  border-radius: 2rem;
  font-size: .9rem;
  font-family: AvenirLTStd-Black;
  transition: all .25s ease-in-out;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-yellow.solid{
  background-color: #e09e10;
  color: #FFF;
}

.btn-yellow:hover{
  color: #FFF;
  background-color: #e09e10;
}

section:not(.page-hero),.bottom-footer{
  padding: 3% 0;
}

.no-scroll{
  height: 100%;
  overflow: hidden;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline,.byline a {
  color: #FFF; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #14679e;
    color: #fefefe; }

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: -15px;
  margin-left: -15px; }

.gallery::before, .gallery::after {
  content: ' ';
  display: table; }

.gallery::after {
  clear: both; }

.gallery.gallery-columns-1 > dl {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-1 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-2 > dl {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-2 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-3 > dl {
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-3 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-4 > dl {
  width: 25%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-4 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-5 > dl {
  width: 20%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-5 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-6 > dl {
  width: 16.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-6 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-7 > dl {
  width: 14.28571%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-7 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-8 > dl {
  width: 12.5%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-8 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
    float: right; }

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.gallery dl:last-child:not(:first-child) {
  float: right; }

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }
/*********************
MOBILE MENU STYLES
*********************/
.mobile-nav{
  background-color: #FFF;
  padding: 20px 0;
}
 
.mobile-nav div{
  display: inline-block;
  width: 35.4%;
}

.mobile-nav .hamburger-container{
  padding-left: 30px;
}

.mobile-nav .hamburger-container .menu-icon::after{
  background-color: #4d7da6;
  box-shadow: 0 7px 0 #4d7da6, 0 14px 0 #4d7da6
}

.mobile-left-menu{
  background: #EEE;
  z-index: 9999;
  height: 100vh;
  width: 260px;
  transform: translateX(-260px);
  transition: transform 0.35s linear;
}

.mobile-left-menu.mobile-menu-open{
  transform: translateX(0);
}

.mobile-left-menu button,#hamburger{
  outline: 0;
}

.mobile-left-menu .menu .is-active > a{
  background-color: transparent;
}

.mobile-left-menu #main-nav a{
  text-transform: uppercase;
}

.mobile-left-menu .menu .active>a{
  background-color: transparent;
}

.mobile-left-menu .menu-container{
  height: 100%;
  width: 100%;
}

.mobile-left-menu button{
  top: 0;
  right: 0;
  padding: 20px 30px;
}
.mobile-left-menu button i{
  color: #4d7da6;
  font-size: 1.5rem;
}

.mobile-left-menu .menu{
  padding-left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-left-menu .menu a,i{
  color: #4d7da6;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
  list-style: none; }

.widget ul {
  margin: 0; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both; }

.footer h2{
  font-family: 'AvenirLTStd-Light';
}

.footer .dropdown.menu a{
  color: #4d7da6;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: 'AvenirLTStd-Medium';
}

.footer-meta ul{
  list-style-type: none;
  display: flex;
  margin-left: 0
}

.footer-meta ul li:first-of-type{
  margin-right: 10px;
}

.footer-meta ul li:last-of-type{
  margin-left: 10px;
}

.footer-meta ul img{
  min-width: 150px;
}

.footer-meta h6{
  font-size: 12px;
}

.footer-meta p{
  font-size: 11px;
}

.bottom-footer .menu .active>a{
  background-color: transparent;
  color: #1779ba;
}

.bottom-footer .industry a{
  color: #80a3bf;
  border-bottom: 1px solid #80a3bf;
}

.copyright{
  font-size: 0.75rem;
}

.copyright a{
  color: #636466;
  border-bottom: 1px solid #636466;
}

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
  margin: 20px; }

/*********************
HEADER STYLES
*********************/
.top-bar .menu a{
  text-transform: uppercase;
  font-family: 'AvenirLTStd-Medium';
  font-size: 0.875rem;
  padding: .7rem 0;
}

.top-bar .menu li{
  padding: 0 1rem;
}

.top-bar,.top-bar ul{
  background-color: white;
}

.top-bar .menu a{
  color: #636466;
}

.top-bar .menu .active>a {
  background: transparent;
  color: #636466;
  border-bottom: 3px solid #e09e10;
}

/*********************
FRONT PAGE STYLES
*********************/
.home .top-bar,.home .top-bar ul{
  background-color: transparent;
}

.home .top-bar .menu a{
  color: #FFF;
}

.page-hero{
  padding: 8% 0;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.page-hero p.white{
  font-size: 1.25rem;
}

.page-template-front-page .page-hero{
  padding: 150px 0 80px;
}

.page-hero .header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 30px;
}

.one-stop{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -50px;
}

.one-stop .rolls{
  right: 0;
  top: 30px;
}

.one-stop .icon-module{
  padding: 0 20px;
}

.one-stop .module-icon{
  margin-bottom: 20px;
}
/*********************
CAPABILITIES STYLES
*********************/
.capabilities{
  background-color: #f8f8f8;
}

.tabs,.tabs-content{
  border: 0;
  box-shadow: 0 1px 6px 2px #eee;
  border-radius: 5px;
}

.tabs-title{
  float: none;
}

.tabs-title a {
  color: #636466;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-family: 'AvenirLTStd-Light';
}

.tabs-title.is-active a,.tabs-title a:hover{
  background-color: #e0e8f0;
  border-left: 2px solid #1a598c;
  color: #4d7da6;
}

.tabs-title.is-active a:focus{
  outline: 0;
}

.tabs-panel{
  padding: 1.875rem;
}
/*********************
APPLICATIONS STYLES
*********************/
.page-template-page-applications li{
  word-break: break-all;
}
.iso-certified{
  background-color: #f8f8f8;
  padding: 30px 0 !important;
}

.iso-certified h4{
  margin-bottom: 0;
}

.applications h4{
  color: #1a598c;
  margin: 10px 0 0;
}
/*********************
CONTACT STYLES
*********************/
.contact-us{
  background-color: #F8F8F8;
}

.form-container{
  background-color: #FFF;
  box-shadow: 0 1px 6px 2px #eee;
  border-radius: 5px;
  padding-top: 6%;
}

.contact-info{
  margin-bottom: 50px;
}

.contact-info address{
  font-style: normal;
}

.contact-us .nf-before-form-content{
  display: none;
}

.contact-us .nf-form-cont{
  padding: 0 50px 30px;
}

.contact-us input, .contact-us select, .contact-us textarea{
  border: 2px solid #e5e6e6;
  border-radius: 3px;
  box-shadow: none;
}

.contact-us input:focus, .contact-us select:focus, .contact-us textarea:focus{
  border: 2px solid #8a8a8a;
}

.contact-us input[type=button]{
  border-radius: 25px;
  border: 0;
}

.contact-us .submit-container{
  text-align: center;
}

.contact-us textarea{
  resize: none;
}

.contact-us input:valid,.contact-us textarea:valid,.contact-us select:valid{
  color: #4477a1;
  background-color: #ecf1f5;
}

.contact-us .map{
  width: 100%;
}

/***********************
NEWS PAGE
***********************/

.module {
  border-radius: 5px;
  box-shadow: 0 1px 6px 2px #eee;
  background-color: #fff;
}
.module img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 640px) {
  .module img {
    height: 170px;
  }
}
.module .module-bg {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 140px;
}
@media (max-width: 640px) {
  .module .module-bg {
    height: 150px;
  }
}
.module .module-bg.large {
  height: 275px;
}
@media (max-width: 640px) {
  .module .module-bg.large {
    height: 150px;
  }
}
.module .module-bg .label {
  background-color: #e09e10;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  bottom: 25px;
  right: -10px;
  font-size: 14px;
}
.module.auto-height {
  position: relative;
}
.module.auto-height .meta {
  height: auto;
}
.module.auto-height .meta .content {
  margin-bottom: 20px;
}
.module.auto-height .meta h4 {
  color: #4d7da6;
}
.module.auto-height .meta .read-more {
  position: static;
  color: #4d7da6;
}
.module .meta {
  padding: 40px;
}
@media (max-width: 1024px) {
  .module .meta {
    padding: 20px;
  }
}
.module .meta img {
  height: 125px;
}
.module .meta h4 {
  font-size: 1.125rem;
  font-family: 'AvenirLTStd-Medium';
}
.module .meta p {
  font-size: 0.875rem;
}
.module .meta .post-date {
  margin-bottom: 10px;
}
.module .meta .read-more {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}

/***********************
SINGLE POST
***********************/
.single .overlay{
  background:rgba(0,0,0,0.4);
  height:100%;
  width:100%
}

.single .page-hero{
  padding:0
}

.single .page-hero .cell{
  padding:8% 0;
  z-index:1
}

.single .content{
  padding: 40px 0;
  /*background-color: #EEE;*/
}

.single .content .entry-content{
  padding: 30px 15px;
}

@media(max-width: 1200px){

  .one-stop .icon-module{
    padding: 0;
  }

  .one-stop .one-stop-title{
    padding-bottom: 10px;
  }
}

@media(min-width: 768px){
  .mobile-nav{
    display: none;
  }
}

@media(max-width: 767px){

  .page-template-front-page .page-hero{
    padding: 8% 0;
  }

  .page-hero header,.other-header{
    display: none;
  }

  .footer-meta ul{
    display: block;
    text-align: center;
  }

  .footer-meta ul li:first-of-type{
    margin-right: 0;
    padding-bottom: 30px;
  }

  .footer-meta ul img{
    min-width: 80px
  }

  section:not(.page-hero), .bottom-footer{
    padding: 10% 0;
  }

  .icon-module:last-of-type p{
    margin-bottom: 0;
  }

  .bottom-footer .menu-item a{
    color: #4d7da6;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-family: 'AvenirLTStd-Medium';
  }

  .page-template-page-applications li{
    word-break: break-word;
  }

  .contact-us .nf-form-cont{
    padding: 0 30px 30px;
  }

  .nf-form-cont .nf-field-container.one-half{
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  #nf-field-16-container{
    margin-bottom: 30px;
  }

  #nf-field-8-container{
    margin-bottom: 0;
  }

  .contact-info{
    padding: 0 30px;
  }
}

/*# sourceMappingURL=style.css.map */
